.fadein {
	animation: fadein .6s ease-in;
}



@keyframes fadein {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fromBelow {
	from {
		transform: translate(-50%, 70%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 60%);
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(25rem);
		opacity: 0;
		pointer-events: none;
		z-index: 50rem;
	}
	88% {
		transform: scale(1.1);
		pointer-events: none;
	}
	100% {
		transform: translateX(1) scale(1);
		opacity: 1;
	}
}

@keyframes slideInPrev {
	0% {
		transform: translateX(-25rem);
		opacity: 0;
		pointer-events: none;
		z-index: 50rem;
	}
	88% {
		transform: scale(1.1);
		pointer-events: none;
	}
	100% {
		transform: translateX(1) scale(1);
		opacity: 1;
	}
}

@keyframes scaleDown {
	0% {
		opacity: 1;
		pointer-events: none;
		z-index: 50rem;
		background: $white;
	}
	100% {
		transform: scale(0);
		opacity: 0;
		background: #f1f1f1;
	}
}


@keyframes slidefromleft {
	from {
		transform: translateX(-20px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes pulsate {
	from {
		background: #fff;
	}	
	to {
		background: #eee;
	}
}

@keyframes slidehorizontal {
	from {
		transform: translateX(0);
	}	
	to {
		transform: translateX(10px);
	}
}
