.fadein {
	animation: fadein .6s ease-in;
}

@keyframes fadein {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fromBelow {
	from {
		transform: translate(-50%, 70%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 60%);
		opacity: 1;
	}
}


@keyframes slidefromleft {
	from {
		transform: translateX(-20px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
