$darkblue: #272a37;
$lightblue: #525561;
$black: #444;
// $black: #333;
$grey: #444;
$light: #f7f7f7;
$darkgreen: #0a252c;
$dark-1: #071519;
$grey-light: #777;
$white: #fff;
$white2: #ffedf0;
$green1: #039f9b;
$green2: #066255;
$green3: #00312e;
// $pink: #fe423e;
// $pink: #52515a;
// $pink: #f6a891;
// $pink: #ea4c89;

$primary: #e79fa8;
$primary-bright: #ff8c9b;
$primary-dark: #ff5c8a;
$primary-light: #fce8ec;
// $primary-light: #ffc9d2;
$maroon: #802a35;

// $blue: #67aeca;
$amethyst: #675682;

$green: #2af598;
$blue: #08b3e5;