*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}
 
body {
	background-color: $white;
	color: $grey;
	max-width: 100vw;
	font-weight: 400;
}
.main {
	position: relative;
}
a, a:active {
	text-decoration: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.modal-isOpen {
	overflow: hidden;
	// position: fixed;
}

hr {
	border-top: 1px solid #eee;
	margin: 2rem 0;
}

a, button {
	cursor: pointer;
}