.banner {
	height: 75vh;
	border-radius: 1rem;
	background-image: linear-gradient(315deg, transparent 0%, transparent 60%, rgba($primary, .8) 60%, rgba($primary, .8) 100%),
		url("../../images/bg-medium.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	margin-bottom: 20rem;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 90%;
		width: 40%;
		background: rgba($primary-bright, .4);
		backdrop-filter: blur(10px);
		clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
	}

	&__photo-wrapper {
		position: absolute;
		box-sizing: content-box;

		&--1 {
			left: 6rem;
			top: 2rem;
			height: 30rem;
			width: 20rem;
			z-index: -1;
			display: none;
		}

		&--2 {
			left: 4rem;
			bottom: 4rem;
			height: 30rem;
			width: 50rem;
			display: none;
		}
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__content {
		position: absolute;
		top: 6rem;
		left: 15rem;
		width: 60rem;
		background: rgba($white, .8);
		backdrop-filter: blur(10px);
		padding: 6rem 3rem;
		border-radius: 1rem;
	}

	&__heading {
		font-size: 1.8rem;
		color: $primary-dark;
		margin-bottom: .5rem;
		font-weight: 600;
	}

	&__subheading {
		font-weight: 600;
		font-size: 3.2rem;
		margin-bottom: 1.2rem;
		color: $black;
	}

	&__description {
		font-size: 1.4rem;
		font-weight: 500;
		// line-height: 5px;
	}

	&__cta {
		margin-top: 3rem;
	}


	&__float {
		height: 20rem;
		width: 90%;
		border-radius: 2rem;
		position: absolute;
		bottom: 0;
		left: 50%;
		right: 0;
		background: $white;
		backdrop-filter: blur(10px);
		transform: translate(-50%, 60%);
		box-shadow: 0px 1rem 2.5rem rgba(0, 0, 0, .2);
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
		padding: 2rem 2.5rem;
	}

	&__float-left {
		padding-right: 2rem;
	}

	&__float-right {
		padding-left: 2rem;
	}
}

.statistics {
	display: flex;
	justify-content: space-evenly;

	&__heading {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem;
	width: 25%;

	&__icon {
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $white;
		box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, .1);
		margin-bottom: 1.2rem;
	}

	
	&__logo {
		font-size: 1.6rem;
		color: $primary-dark;
	}

	&__number {
		font-size: 2.4rem;
		font-weight: 700;
		color: $black;
	}

	&__text {
		font-size: 1.4rem;
	}
}

.search {
	display: flex;
	align-items: center;
	position: relative;

	&__input {
		border: none;
		display: block;
		flex: 1;
		padding: 1rem 2.5rem;
		font-size: 1.4rem;
		font-weight: 500;
		font-family: inherit;
		border-radius: 5rem;
		color: $grey-light;
		text-align: center;
		position: relative;
		height: 4rem;
		border: 2px solid $primary-light;
	}

	&__input:focus {
		outline: none;		
		border: 2px solid $primary-dark;
	}

	&__input::placeholder {
		color: #ccc;
	}

	&__label {
		position: absolute;
		right: 0;
		font-size: 1.2rem;
		font-weight: 700;
		color: $primary-dark;
		display: inline-block;
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__note {
		font-size: 1rem;
		font-weight: 400;
	}

	&__by-price,
	&__by-type {
		font-size: 1.2rem;
		color: $black;
		margin-top: 1.2rem;
		margin-bottom: 1rem;
	}
}

.search-filter {
	display: flex;
}

.categories {
	padding: 0;
	background: $white;
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 1rem;

	&__category {
		display: flex;
		align-items: center;
		margin-right: 1rem;
		width: 10rem;
	}

	&__label {
		font-size: 1.2rem;
		position: relative;
		padding: .5rem .5rem .5rem 2.5rem;
		margin-left: 1rem;
		z-index: 50;
	}

	&__circle {
		position: absolute;
		left: 0;
		height: 1.4rem;
		width: 1.4rem;
		border: 2px solid $primary-light;
		border-radius: 50%;
	}

	&__input {
		display: none;
	}

	&__input:checked ~ &__label &__circle {
		border: 2px solid $primary-dark;
	}

	&__input:checked ~ &__label &__circle::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: .6rem;
		width: .6rem;
		background: $primary-dark;
		border-radius: 50%;
	}
}
.search__price-filter {
	margin-top: 1rem;
	flex: 1;
	margin-left: 2rem;
	padding: 1rem;
}



.ratings {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	border-top: 1px solid #f2f2f2;

	&__text {
		flex: 1;
	}

	&__img-wrapper {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		overflow: hidden;
		box-sizing: content-box;
		border: 2px solid $white;
		margin-left: -1rem;
	}
	&__user {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


