.features {
	background: #f1f1f1;
	height: 90vh;
	position: relative;
	z-index: 1;

	&__left {
		grid-column: 1/7;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__left::before {
		content: "";
		height: 35rem;
		border-radius: 0 0 1rem 0;
		width: 25rem;
		background: #66515b;
		background: rgba(#946119, .4);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__image-wrapper {
		height: 80%;
		width: 40rem;
		margin-left: 3rem;
		z-index: 40;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		z-index: 55;
	}





	&__offers {
		grid-column: 7/-1;
		text-align: left;
		color: $grey;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		margin-bottom: 4rem;
		font-size: 2.6rem;
		color: $dark;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
	}

	&__heading {
		font-size: 1.6rem;
		text-transform: uppercase;
		color: $grey1;
		// color: #e6e6e6;
		font-weight: 500;
	}

	&__paragraph {
		margin: .8rem 0 2.5rem;
		color: $grey3;
		// color: #d9d9d9;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2.6rem;
		font-style: normal;
	}

	&__cta {
		// margin-top: 1rem;
		display: inline-block;
		align-self: flex-start;
		padding: 1.2rem 2rem;
		border: 2px solid #946119;
		text-align: left;
		font-size: 1.2rem;
		color: $white;
		cursor: pointer;
		// border-radius: 3rem;
		text-transform: uppercase;
		background: $primary-dark;
		background: #946119;
	}

	&__cta:hover {
		// background: $grey2;
	}

	&__cta:hover .features__cta-arrow {
		animation: slidehorizontal .4s linear infinite alternate;
	}

	&__cta-arrow {
		margin-left: 1rem;
	}
}

@media (max-width: 942px) {
	.features {
		&__left {
			grid-column: 1/6;
		}

		&__left::before {
			display: none;
		}

		&__image-wrapper {
			margin-left: 0;
			height: 80%;
			max-width: 90%;
		}

		&__offers {
			grid-column: 6/-1
		}
	}
}


@media (max-width: 624px) {
	.features__offers {
		grid-column: 1/-1;	
		background: linear-gradient(to right, rgba(#000, .2), rgba(#000, .2)), url(../../images/treehouse.jpg);	
		background-size: cover;
		background-position: center center;	
	}

	.features__left,
	.features__paragraph {
		display: none;
	}

	.features__title {
		color: $white;
		margin-bottom: 2rem;
	}

	.features__heading {
		color: #eee;
		text-transform: capitalize;
	}
	.features__cta {
		margin-top: 3rem;
	}
}

@media (max-width: 582px) {
	.features {
		min-height: 100vh;
	}
	.features__offers {
		padding: 2rem;		
	}
}