.features {
	background: radial-gradient(circle farthest-corner at top, #f5f5f5, #fff);
	height: 90vh;
	position: relative;
	z-index: 1;

	&__left {
		grid-column: 2/7;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__image-wrapper {
		height: 70%;
		width: 35rem;
		z-index: 40;
		border-radius: 1rem;
		overflow: hidden;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		z-index: 55;
	}





	&__offers {
		grid-column: 7/12;
		text-align: left;
		color: $grey;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		margin-bottom: 4rem;
		font-size: 3.2rem;
		color: #1c1c1c;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}

	&__heading {
		font-size: 1.4rem;
		text-transform: uppercase;
		color: #1c1c1c;
		font-family: 'Montserrat', sans-serif;
		// color: #e6e6e6;
		font-weight: 500;
	}

	&__paragraph {
		margin: .8rem 0 2.5rem;
		color: $grey2;
		// color: #d9d9d9;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2.6rem;
		font-style: normal;
	}

	&__cta {
		// margin-top: 1rem;
		display: inline-block;
		align-self: flex-start;
		padding: 1.2rem 2rem;
		// border: 2px solid #946119;
		border-left: 4px solid $primary-dark;
		text-align: left;
		font-size: 1.2rem;
		color: $dark;
		cursor: pointer;
		// border-radius: 3rem;
		text-transform: uppercase;
		// background: linear-gradient(to right, rgba($primary-dark, 5%), $primary-dark);
		// background: #946119;
		background: none;
	}

	&__cta:hover {
		// background: $grey2;
	}

	&__cta:hover .features__cta-arrow {
		animation: slidehorizontal .4s linear infinite alternate;
	}

	&__cta-arrow {
		margin-left: 1rem;
	}
}

@media (max-width: 942px) {
	.features {
		&__left {
			grid-column: 1/6;
		}

		&__left::before {
			display: none;
		}

		&__image-wrapper {
			margin-left: 0;
			height: 80%;
			max-width: 90%;
		}

		&__offers {
			grid-column: 6/-1
		}
	}
}


@media (max-width: 624px) {
	.features__offers {
		grid-column: 1/-1;	
		background: linear-gradient(to right, rgba(#000, .2), rgba(#000, .2)), url(../../images/treehouse.jpg);	
		background-size: cover;
		background-position: center center;	
		padding: 3rem;
	}

	.features__left,
	.features__paragraph {
		display: none;
	}

	.features__title {
		color: $white;
		margin-bottom: 2rem;
	}

	.features__heading {
		color: #eee;
		text-transform: capitalize;
	}
	.features__cta {
		margin-top: 3rem;
	}
}

@media (max-width: 582px) {
	.features {
		min-height: 100vh;
	}
	.features__offers {
		padding: 2rem;		
	}
}

.cta {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;

	&__icon {
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		font-weight: 500;
		margin-right: 1.2rem;
		background: $primary-dark;
		color: $white;
	}

	&__right {

	}

	&__text {
		font-size: 1.6rem;
		font-weight: 500;
		color: $grey3;
		display: block;
		margin-bottom: .5rem;
		display: block;
	}

	&__link {
		font-size: 1.6rem;
		font-weight: 600;
		color: $dark;
		text-decoration: underline;
	}
}