.section--footer {
	min-height: 30rem;
	background: $dark;
	margin: 0!important;
}

.footer-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 20rem 20rem;
	padding: 4rem;
	text-align: left;
	flex: 1;

	&__about {
		padding-right: 4rem;
	}

	&__website {
		display: flex;
		align-items: center;
		padding: 0;
	}

	&__website-name {
		color: $primary;
		font-size: 2.2rem;
		font-weight: 700;
		margin-left: 2rem;
	}

	&__logo {
		height: 6rem;
		width: 6rem;
		margin: 0;
	}

	&__about-text {
		font-size: 1.4rem;
		color: $grey-light;
		line-height: 2.4rem
	}

	&__help,
	&__socials {
		list-style: none;
		text-align: left;
		overflow: hidden;
	}

	&__item {
		color: $grey-light;
		font-size: 1.2rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	&__item--title {
		font-size: 1.4rem;
		color: #ccc;
		margin-bottom: 1rem;
	}

	&__copywright {
		color: #ddd;
		font-size: 1.2rem;
		padding: 1rem;
	}

}
	.text-center {
		text-align: center;
	}

@media (max-width: 850px) {
	.footer-container {
		padding: 0!important;
	}
	.footer {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 2rem;
		padding: 2rem;
	}
	.footer__about {
		grid-column: 1/-1;
		padding: 0;
	}
}

@media (max-width: 530px) {
	.footer {
		padding: 1rem;

		&__about-text {
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
}