.header {
	z-index: 1500;
	height: 6rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: $grey;
	background: $white;
	// box-shadow: 0px 0px 8px -8px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .1);
	max-width: 100%;
	transform-origin: top;
	transition: all .5s;

	&--start-transparent {
		transform: scaleY(0);
		opacity: 0;
		pointer-events: none;
	}

	&--dark {
		background: transparent;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}

	@media (max-width: 1200px) { 
		&__container {
			width: 100%;
		}
	}

	&__logo-wrapper {
		display: block;
		margin-right: 4rem; 

		height: 4rem;
		width: 6rem;
	}

	&__logo {
		height: 4rem;
		width: 6rem;
		object-fit: cover;
	}
}

.nav {
	align-self: stretch;
	display: flex;
	align-items: center;
	height: 100%;


	&__item {
		list-style: none;
		align-self: stretch;
		position: relative;
	}

	&__item--signin {
		align-self: center;
	}

	&__link {
		padding: 1.2rem 2rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		color: #1c1c1c;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		transition: color .4s ease;
	}

	&__link--active {
		color: $black;
	}

	&__link:hover {
		color: $grey-light;
	}


	&__link--login {
		padding: .5rem 2rem;
		border: none;
		margin-left: 2rem;
		border-radius: 3rem;
		background: $primary;
		// color: $white;
		transition: all .4s ease;
		font-weight: 600;

		&:hover {
			background: darken($primary, 2%);
		}
	}

	&__cta {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		color: $dark;
		font-weight: 500;
		// letter-spacing: .8px;
		// font-family: 'Montserrat', sans-serif;
	}
}



.header-right {
	display: flex;
	align-items: center;
	list-style: none;

	&__item {
		margin-left: 2rem;
	}

	&__link {
		color: inherit;
		// font-weight: 600;
	}

	&__button {
		padding: 0;
		border: none;
		background: $white;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .4rem;
		border-radius: .2rem;
	}
}

.header__hamburger {
	padding: 0;
	border: none;
	background: $white;
	height: 3rem;
	width: 3rem;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .4rem;
	border-radius: .5rem;
	border: 1px solid $grey;
}

.header__mobile {
	display: none;
	align-items: center;

	form {
		width: 32rem;
		display: flex;
		align-items: center;
		position: relative;
		margin-right: 2rem;
	}

	input {
		flex: 1;
		display: block;
		width: 100%;
		padding: 1rem 2rem 1rem .5rem;
		font-size: 1.4rem;
		font-family: inherit;
		color: $white;
		background: transparent;
		border: none;
		opacity: 0;
		pointer-events: none;
		transition: all .5s;
		animation-delay: .7s;
	}

	input::placeholder {
		color: #777;
		text-align: center;
	}

	input:focus {
		outline: none;
		opacity: 1;
		pointer-events: all;
	}

	.header__search-icon {
		position: absolute;
		right: .5rem;
		border: none;
		background: none;
		font-size: 1.8rem;
		color: $dark;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.header__search-icon::before {
		content: "";
		height: 2px;
		width: 32rem;
		border-radius: 1rem;
		position: absolute;
		bottom: 0;
		background: $primary-light;
		transition: all .7s;
		transform-origin: right;
		transform: translateX(-30.5rem) scaleX(0);
	}
	input:focus ~ .header__search-icon::before {
		transform: translateX(-30.5rem) scaleX(1);
	}

	input:focus::placeholder {
		animation: showplaceholder .4s;
	}
}

.header--dark {
	box-shadow: none;
	
	.header__container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.nav__link {
		color: #e8e8e8;
		font-weight: 500;
	}

	.nav__link--active {
		color: $white;
	}

	.nav__link:hover {
		color: #bfb2b7;
	}

	.header-right .header-right__link {
		color: $white;
	}

	.nav__cta {
		border: none;
		background: transparent;
		color: #ededed;
	}

	.header-right__button {
		background: #ccc;
	}

	.header__username {
		color: $white;
		border-bottom: 2px solid #f4f4f4;
	}

	.header__search-icon {
		color: $white;
	}
}


.nav__item:hover .submenu {
	opacity: 1;
	pointer-events: all;
	transform: translateX(-50%) scale(1);
}



@media (max-width: 874px) {
	.header {
		height: 5.5rem;
	}
	.header-right, 
	.nav {
		display: none;
	}
	.header__mobile {
		display: flex;
	}
	.header__logo-wrapper {
		height: 4rem;
		width: 5rem;
	}

	.header__logo {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}


@media (max-width: 506px) {
	.header__mobile {
		form {
			max-width: 25rem;
			margin-right: 1rem;
			overflow: hidden;
		}
	}

}

@media (max-width: 430px) {
	.header__mobile {
		form {
			max-width: 22rem;
			margin-right: 1rem;
			overflow: hidden;
		}

		input::placeholder {
			display: none;
			opacity: 0;
		}
	}

}

@media (max-width: 390px) {
	.header__mobile {
		form {
			display: none;
		}
	}

}