.header {
	padding: 0 1rem;
	z-index: 1500;
	height: 7rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: $grey;
	background: $white;
	// box-shadow: 0px 0px 8px -8px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .1);
	max-width: 100%;
	transform-origin: top;
	transition: all .5s;

	&--start-transparent {
		transform: scaleY(0);
		opacity: 0;
		pointer-events: none;
	}

	&--dark {
		background: transparent;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}

	@media (max-width: 1200px) { 
		&__container {
			width: 100%;
		}
	}

	&__logo-wrapper {
		display: block;
		margin-right: 4rem; 

		height: 4rem;
		width: 6rem;
	}

	&__logo {
		height: 4rem;
		width: 6rem;
		object-fit: cover;
	}
}

.nav {
	align-self: stretch;
	display: flex;
	align-items: center;
	height: 100%;


	&__item {
		list-style: none;
		align-self: stretch;
		position: relative;
	}

	&__item--signin {
		align-self: center;
	}

	&__link {
		padding: 1.2rem 2rem;
		font-size: 1.6rem;
		color: $grey2;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		transition: color .4s ease;
		letter-spacing: .8px;
		font-family: 'Lato', sans-serif;
	}

	&__link--active {
		color: $black;
	}

	&__link:hover {
		color: $grey-light;
	}

	// &__link--btn {
	// 	border-radius: 50%;
	// 	height: 3rem;
	// 	width: 3rem;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	background: $light;
	// 	margin-left: 1rem;
	// 	font-size: 1.4rem;
	// 	color: $grey;
	// 	border: none;
	// 	padding: 0;
	// }

	// &__item--icons {
	// 	border-radius: 50%;
	// 	height: 3rem;
	// 	width: 3rem;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	background: $light;
	// 	margin-left: 1rem;
	// 	color: $dark-1!important;
	// }

	// &__link--icons {
	// 	color: $grey;
	// 	font-size: 1.2rem;
	// }

	// &__user-img {
	// 	height: 3rem;
	// 	width: 3rem;
	// 	border-radius: 50%;
	// }

	// &__link--name {
	// 	padding: 0;
	// 	margin-left: .2rem;
	// 	font-weight: 600;
	// }

	&__link--login {
		padding: .5rem 2rem;
		border: none;
		margin-left: 2rem;
		border-radius: 3rem;
		background: $primary;
		// color: $white;
		transition: all .4s ease;
		font-weight: 600;

		&:hover {
			background: darken($primary, 2%);
		}
	}

	&__cta {
		padding: .6rem 2.5rem;
		font-size: 1.2rem;
		text-transform: uppercase;
		border: 2px solid $primary-dark;
		font-family: inherit;
		border-radius: 3rem;
		color: $dark;
		letter-spacing: .8px;
		background: $white;
	}
}



.header-right {
	display: flex;
	align-items: center;
	list-style: none;

	&__item {
		margin-left: 2rem;
	}

	&__link {
		color: inherit;
		font-weight: 600;
	}

	&__button {
		padding: 0;
		border: none;
		background: $white;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .4rem;
		border-radius: .2rem;
	}
}

.header__hamburger {
	padding: 0;
	border: none;
	background: $white;
	height: 3rem;
	width: 3rem;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .4rem;
	border-radius: .5rem;
	border: 1px solid $grey;
}

.header--dark {
	box-shadow: none;
	
	.header__container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.nav__link {
		color: #c7c7c7;
		font-weight: 400;
	}

	.nav__link--active {
		color: $white;
	}

	.nav__link:hover {
		color: #bfb2b7;
	}

	.header-right .header-right__link {
		color: $white;
	}

	.nav__cta {
		border: 2px solid $primary-dark;
		background: transparent;
		color: #dedede;
	}

	.header-right__button {
		background: #ccc;
	}

	.header__username {
		color: $white;
		border-bottom: 2px solid #f4f4f4;
	}
}


.nav__item:hover .submenu {
	opacity: 1;
	pointer-events: all;
	transform: translateX(-50%) scale(1);
}

.header__mobile {
	display: none;
	align-items: center;
}

.header__user {
	height: 3.2rem;
	width: 3.2rem;
	border-radius: 50%;
	overflow: hidden;
}
.header__user-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}
.header__username {
	font-size: 1.4rem;
	color: $dark;
	display: inline-block;
	margin-right: 2rem;
	margin-left: 1rem;
	border-bottom: 2px solid $grey3;
	padding-bottom: .3rem;
}

@media (max-width: 780px) {
	.header-right, 
	.nav {
		display: none;
	}
	.header__mobile {
		display: flex;
	}
	.header__logo-wrapper {
		height: 4rem;
		width: 5rem;
	}

	.header__logo {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}