.header {
	z-index: 1500;
	height: 6rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: $grey;
	background: $white;
	box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .1);
	max-width: 100%;
	transform-origin: top;
	transition: all .5s;

	&--start-transparent {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		opacity: 0;
	}

	&--dark {
		background: transparent;
		// backdrop-filter: blur(10px);
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}

	@media (max-width: 1200px) { 
		&__container {
			width: 100%;
			padding: 0 2rem;
		}
	}

	&__logo-wrapper {
		display: block;
		height: 4.2rem;
	}

	&__logo {
		height: 100%;
		object-fit: cover;
	}
}

.nav-search {
	width: 35rem;
	position: relative;
	margin-right: auto;
	margin-left: 2rem;

	@media (max-width: 911px) {
		& {
			width: 40rem;
			display: none;
		}
	}

	&__label {
		width: 4rem;
		height: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		color: $grey3;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 1rem 2rem 1rem 5rem;
		font-family: inherit;
		letter-spacing: .8px;
		font-size: 1.4rem;
		color: $grey;
		font-weight: 500;
		border: 1px solid #eee;
		border-radius: 3rem;
	}

	&__input::placeholder {
		text-align: center;
		transform: translateX(-5%);
		color: #777;
	}

	&__input:focus {
		outline: none;
		border: 1px solid $grey3;
	}
}


.nav {
	align-self: stretch;
	display: flex;
	align-items: center;
	height: 100%;

	&__item {
		list-style: none;
		align-self: stretch;
	}

	&__item:not(:last-child) {
		margin-right: 2rem;
	}

	@media (max-width: 554px) { 
		& {
			margin-left: auto;
			margin-right: 0;
		}

		&__item:not(:last-of-type) {
			display: none!important;
		}
	}

	&__link {
		font-family: 'Lato', sans-serif;
		font-size: 1.4rem;
		color: #1c1c1c;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		transition: color .4s ease;
	}

	// @media (max-width: 425px) {
	// 	&__link {
	// 		font-size: 1.2rem;
	// 		font-weight: 500;
	// 	}
	// }

	&__link--active {
		color: $black;
	}

	&__link:hover {
		color: $grey-light;
	}
}


.header__hamburger {
	padding: 0;
	border: none;
	background: none;
	display: none;
	align-items: center;
	justify-content: center;

	&-icon {
		font-size: 2rem;
		color: $dark;
	}

	@media (max-width: 554px) {
		& {
			display: flex;
		}
	}
}

.header--dark {
	box-shadow: none;

	.nav-search {
		width: 40rem;
		background: none;

		&__label {
			color: $white!important;
			z-index: 1;
		}

		&__input {
			display: block;
			width: 100%;
			padding: 1rem 2rem 1rem 5rem;
			font-family: inherit;
			letter-spacing: .8px;
			font-size: 1.4rem;
			color: #e8e8e8;
			font-weight: 500;
			border: 1px solid $grey3;
			border-radius: 3rem;
			background: rgba($grey3, .2);
			backdrop-filter: blur(10px);
		}

		&__input::placeholder {
			text-align: center;
			transform: translateX(-5%);
			color: #bfb2b7;
		}

		&__input:focus {
			outline: none;
			border: 1px solid $grey3;
		}
	}

	.nav__link {
		color: #e8e8e8;
		font-weight: 500;
	}

	.nav__link--active {
		color: $white;
	}

	.nav__link:hover {
		color: #bfb2b7;
	}

	.header-right .header-right__link {
		color: $white;
	}

	.nav__cta {
		border: none;
		background: transparent;
		color: #ededed;
	}

	.nav__cta:hover {
		color: #bfb2b7;
	}

	.header-right__button {
		background: #ccc;
	}

	.header__username {
		color: $white;
		border-bottom: 2px solid #f4f4f4;
	}

	.header__search-icon {
		color: $white;
	}

	.header__hamburger-icon {
		color: $white;
	}
}


.scroll-down.header--start-transparent {
	backdrop-filter: blur(10px);
}
.scroll-down {

	.header__container {
		justify-content: center;
	}

	.header__logo-wrapper {
		display: none;
	}

	.nav-search {
		margin: 0;
		display: block;
	}

	.nav-search__input {
		background: $white;
		border: 1px solid #eee;
	}

	.nav-search__input:focus {
		background: $white;
		border: 1px solid $grey3;
	}

	.nav-search__input::placeholder {
		color: $grey3;
	}

	.nav {
		display: none;
	}
}

.scroll-up {
	.header__container {
		justify-content: space-between;
	}

	.header__logo-wrapper {
		display: block;
	}

	.nav-search {
		display: none;
	}

	.nav {
		display: flex;
	}
}

.header__mobile {
	position: absolute;
	top: 7rem;
	left: 0;
	height: 10rem;
	width: 100%;
	background: red;
	z-index: 1000;
}

@media (max-width: 774px) {
	.nav-search {
		width: 40rem!important;
	}
}

