.hostoffer {
	background: radial-gradient(circle farthest-corner at top,#fff, #f5f5f5, #fff);
	// height: 90vh;
	position: relative;
	z-index: -1;
	padding: 4rem 0;

	&__left {
		grid-column: 7/12;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		max-height: 100%;
	}

	&__image-wrapper {
		// height: 80%;
		width: 30rem;
		z-index: 40;
		border-radius: 1rem;
		overflow: hidden;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		z-index: 55;
	}

	&__hostoffer {
		grid-column: 2/7;
		text-align: left;
		color: $grey;
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-row: 1/-1;
		max-height: 100%;
	}

	&__title {
		margin-bottom: 4rem;
		font-size: 2.8rem;
		color: #1c1c1c;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}

	&__heading {
		font-size: 1.4rem;
		text-transform: uppercase;
		color: #1c1c1c;
		font-family: 'Montserrat', sans-serif;
		// color: #e6e6e6;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	&__paragraph {
		color: $grey2;
		// color: #d9d9d9;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 2.6rem;
		font-style: normal;
	}

	&__paragraph:first-of-type {
		margin-bottom: .8rem;
	}

	@media (max-width: 665px) {
		&__title {
			font-size: 2.4rem;
		}

		&__heading {
			font-size: 1.2rem;
		}
	}

	@media (max-width: 375px) {
		&__title {
			font-size: 2.4rem;
			margin-bottom: 3rem;
			color: $dark;

		}

		&__heading {
			font-size: 1.2rem;
			line-height: 2rem
		}

		&__paragraph {
			// line-height: 2.4rem;
		}

		&__heading:nth-of-type(2),
		&__paragraph:nth-of-type(2) {
			display: none;
		}
	}

	@media (max-width: 320px) {
		&__title {
			font-size: 2.2rem;
			margin-bottom: 2.5rem;
		}

		&__paragraph {
			display: none;
		}
	}
}


@media (max-width: 955px) {
	.hostoffer {
		position: relative;

		&__left {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			grid-column: 2/12;
			grid-row: 1/-1;
			z-index: -1;
		}

		&__image-wrapper {
			opacity: .4;
		}

		&__hostoffer {
			grid-column: 2/9;
			grid-row: 1/-1;
		}
	}
}

@media (max-width: 837px) {
	.hostoffer {
		&__hostoffer {
			grid-column: 2/10;
		}
	}
}

@media (max-width: 691px) {
	.hostoffer {
		&__image-wrapper {
			opacity: .2;
		}

		&__hostoffer {
			grid-column: 2/12;
		}
	}
}

@media (max-width: 425px) {
	.hostoffer {
		padding: 0;

		&__left {
			grid-column: 1/-1;
			grid-row: 1/-1;
			z-index: -1;
		}

		&__image-wrapper {
			border-radius: 0;
			width: 100%;
		}

		&__hostoffer {
			padding: 2rem;
			grid-column: 1/-1;
		}
	}
}


@media (max-width: 320px) {
	.hostoffer {
	
		&__hostoffer {
			padding: 2rem 1rem;
		}
	}
}