.hostoffer {
	background: #f1f1f1;
	height: 90vh;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&__left {
		grid-column: 7/-1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		max-height: 100%;
	}

	&__left::before {
		content: "";
		height: 40rem;
		height: 35rem;
		border-radius: 0 0 1rem 0;
		width: 25rem;
		background: rgba(#5184d6, .4);
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}

	&__image-wrapper {
		height: 80%;
		width: 40rem;
		margin-right: 3rem;
		z-index: 40;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		z-index: 55;
	}

	&__hostoffer {
		grid-column: 1/7;
		text-align: left;
		color: $grey;
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-row: 1/-1;
		padding-left: 3rem;
		max-height: 100%;
	}

	&__title {
		margin-bottom: 4rem;
		font-size: 2.6rem;
		color: $dark;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
	}

	&__heading {
		font-size: 1.6rem;
		text-transform: uppercase;
		color: $grey1;
		// color: #e6e6e6;
		font-weight: 500;
	}

	&__paragraph {
		margin: .8rem 0 2.5rem;
		color: $grey3;
		// color: #d9d9d9;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 2.6rem;
		font-style: normal;
		margin-bottom: 0;
	}

	&__paragraph:first-child {
		// margin-bottom: 0!important;
	}

	&__cta {
		margin-top: 3rem;
		display: inline-block;
		align-self: flex-start;
		padding: 1.2rem 2rem;
		border: 2px solid #5184d6;
		border: 2px solid $dark;
		text-align: left;
		font-size: 1.2rem;
		color: $white;
		cursor: pointer;
		// border-radius: 3rem;
		text-transform: uppercase;
		background: $primary-dark;
		background: #5184d6;
		background: $dark;
	}


	&__cta:hover {
		// background: $grey2;
	}

	&__cta:hover .features__cta-arrow {
		animation: slidehorizontal .4s linear infinite alternate;
	}

	&__cta-arrow {
		margin-left: 1rem;
	}
}


@media (max-width: 942px) {
	.hostoffer {
	
		&__left {
			grid-column: 8/-1;
		}

		&__left::before {
			display: none;
		}

		&__image-wrapper {
			margin-right: 0;
			height: 80%;
			max-width: 90%;
		}

		&__hostoffer {
			grid-column: 1/8;
		}
	}
}


@media (max-width: 624px) {
	.hostoffer__hostoffer {
		grid-column: 1/-1;	
		background: linear-gradient(to right, rgba(#000, .2), rgba(#000, .2)), url(../../images/woman-with-computer.jpg);	
		background-size: cover;
		background-position: center center;
	}

	.hostoffer__left,
	.hostoffer__paragraph {
		display: none;
	}

	.hostoffer__title {
		color: $white;
		margin-bottom: 2rem;
	}

	.hostoffer__heading {
		color: #eee;
		text-transform: capitalize;
	}
}

@media (max-width: 582px) {
	.hostoffer {
		min-height: 100vh;
	}
	.hostoffer__hostoffer {
		padding: 2rem;		
	}
}