.sub-page {
	margin-top: 7rem;
	position: relative;
}

.hotel {
	border-bottom: 1px solid #eee;
	margin-top: 2rem;

	&__name {
		text-transform: capitalize;
		font-size: 2.4rem; 
		color: $dark;
		font-family: 'Montserrat', sans-serif;
	}

	&__location {
		margin-top: 1.5rem;
		font-size: 1.6rem;
		color: $grey3;
	}

	&__location-icon {
		margin-right: 1.3rem;
		// color: $primary-dark;
	}

	&__favorite {
		color: $primary-dark;
		font-size: 1.6rem;	
		margin-bottom: .5rem;
		display: flex;
		align-items: center;
	}

	&__favorite-icon {
		margin-right: .5rem;
	}

	&__price {
		font-size: 1.8rem;
		color: $grey1;
		margin-top: .5rem;
	}

	&__images {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		height: 45rem;
		grid-gap: 1rem;
		margin: 2rem 0;
	}

	&__img-wrapper {
		background: #eee;
		overflow: hidden;

		&--1 {
			grid-column: 1/2;
			grid-row: 1/-1;
		}
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		animation: pulsate .3s linear infinite;
	}

	&__details {
		display: grid;
		grid-template-columns: 2fr 1fr;
		min-height: 55rem;
		grid-column-gap: 2rem;
		max-width: 1000px;
		margin: 4rem auto;
	}

	&__description {
		padding: 4rem;
		// background: #f1f1f1;
		border-radius: 1rem 0 0 1rem;
		// box-shadow: $shadow-light/;
	}

	&__description-heading,
	&__description-heading-2 {
		font-size: 1.8rem;
		font-family: 'Montserrat', sans-serif;
		color: $grey1;
		margin-bottom: 2rem;
	}

	&__description-heading-2 {
		font-size: 1.6rem;
		margin-top: 2rem;
	}

	&__paragraph {
		margin-bottom: 1rem;
		font-size: 1.6rem;
		color: $grey3;
		text-indent: 3rem;
		line-height: 2.6rem;
		// font-family: 'Lato', sans-serif;
	}

	&__offers {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-row-gap: 1rem;
		width: 80%;
		margin: 0 auto;
		justify-content: center;
	}

	&__offer {
		font-size: 1.6rem;
		color: $grey2;
		position: relative;
	}

	&__offer::before {
		content: "\003E";
		position: absolute;
		left: -2rem;
		height: 1.5rem;
		width: 1.5rem;
		background: $primary-dark;
		-webkit-background-clip: text;
		font-size: 1.6rem;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		color: transparent;
	}

	&__map-wrapper {
		background: #f2f2f2;
		overflow: hidden;
		display: flex;
		align-items: center;
		border-radius: 0 1rem 1rem 0;
		// height: 55rem;
	}

	&__review-section {
		background: #f1f1f1;
		padding: 3rem 3rem;
		margin-bottom: 3rem;
	}

	&__reviews {
		margin: 4rem auto;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		max-width: 1200px;
		height: 40rem;
	}

	&__active-review {
		background: $white;
		grid-column: 1/2;
		grid-row: 1/-1;
		border-radius: 1rem;
		padding: 2rem;
	}


}
.hotel-review {
	background: $white;
	border-radius: 1rem;
	display: flex;
	padding: 2rem;
	flex-direction: column;
	position: relative;

	&__quote {
		position: absolute;
		left: 0;
		top: 0;
		height: 6rem;
		fill: #fff1f1;
		z-index: 1;
	}

	&__text-wrapper {
		flex: 1;
		z-index: 5;
		padding: 1rem;
	}

	&__text {
		font-size: 1.4rem;
		color: #777;
		line-height: 2rem
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__user {
		height: 3.5rem;
		width: 3.5rem;
		border-radius: 50%;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__middle {
		flex: 1;
		margin-left: 1.5rem;
	}

	&__name {
		font-size: 1.4rem;
		font-weight: 600;
		color: $grey;
	}

	&__date {
		font-weight: 400;
		font-size: 1.2rem;
	}

	&__rating {
		color: $primary-dark;
		font-size: 1.8rem;
		font-weight: 600;
	}
}

.hotel-header {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 3rem;

	&__left {

	}

	&__right {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__book-now {
		align-self: flex-end;
	}
}

