.section-reviews {
	height: 100vh;
	background: linear-gradient(to right, rgba($white, .5), rgba($white, .5)), url(../../images/group.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	// animation: animatedBackground 15s linear infinite alternate;
} 

@keyframes animatedBackground {
  0 {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 0;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.reviews {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $white;
	box-shadow: $shadow-light;
	border-radius: 1rem;
	// height: 42rem;
	width: 90rem;
	padding: 8rem 6rem;
}

.review {
	display: flex;
	height: 100%;
	align-items: flex-start;
	position: relative;
	z-index: 1;

	&--sm {
		align-items: center;
	}

	&__left {
		background: #f2f2f2;
		text-align: center;
		padding: 2rem;
		position: relative;
	}

	&__left::before {
		content: "";
		height: 120%;
		width: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $primary-dark;
		z-index: -1;
		border-radius: 1rem;
	}

	&__img-wrapper {
		height: 20rem;
		width: 20rem;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 1rem 1rem .5rem .5rem;
	}

	&--sm &__img-wrapper {
		height: 16rem;
		width: 16rem;
	}

	&__img {
		z-index: 50!important;
		width: 100%;
		max-height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&--sm &__img {
		object-fit: fill;
		max-height: 100%;
		max-width: 100%;
	}

	&__name {
		font-size: 1.6rem;
		color: $grey2;
		text-transform: uppercase;
		margin-top: 2rem;
		letter-spacing: 1px;
	}

	&__job {
		font-size: 1.4rem;
		// font-weight: 600;
		color: $grey3;
	}

	&__content {
		min-height: 20rem;
		width: 100%;
		position: relative;
		padding: 1rem 2rem;
		text-align: center;
		margin-top: 2rem;
	
	}

	&__content::before {
		content: "";
		position: absolute;
		height: 5px;
		width: 20rem;
		background: $primary-dark;
		top: 0;
		left: 0;
	}

	&__stars {
		position: absolute;
		right: 1rem;
		top: 0;
		text-align: center;
	}

	&__star {
		font-size: 1.2rem;
		color: $primary-dark;
		margin-left: .2rem;	
	}

	&__rating {
		font-size: 2.8rem;
		font-weight: 500;
		color: $primary-dark;
	}

	&--sm &__rating {
		font-size: 2.6rem;
	}

	&__heading {
		font-size: 2rem;
		font-weight: 400;
		color: $dark;
		margin-bottom: 2rem;
		text-align: left;
		font-family: 'Monstserrat', sans-serif;
	}

	&__review {
		padding: 2rem 4rem;
		position: relative;
	}

	&__quote {
		font-size: 4rem;
		color: #f2f2f2;
		position: absolute;
	}

	&__quote--left {
		left: -1rem;
		top: 0;
	}

	&__quote--right {
		right: -1rem;
		bottom: 0;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2.6rem;
		text-align: left;
		color: $grey3;
		font-weight: 400;
	}

	&__trackers {
		display: none;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
	}

	&__tracker {
		display: flex;
		align-items:center;
		justify-content: center;
		margin-right: 1.2rem;
		height: 1.2rem;
		width: 1.2rem;
		border-radius: 50%;
		border: 2px solid $primary-dark;
	}

	&__tracker:hover {
		cursor: pointer;
	}

	&__tracker--active::before {
		content: "";
		height: .6rem;
		width: .6rem;
		border-radius: 50%;
		background: $primary-dark;
	}

	&__see-all {
		position: absolute;
		bottom: 2rem;
		right: 0;
	}
}


@media (max-width: 983px) {
	.reviews {
		width: 90%;
		padding: 6rem 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.review {

		&__left {
			// height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		&__img-wrapper {
			height: 16rem;
			width: 16rem;
		}
	}


}


@media (max-width: 851px) {
	.review {
		&__rating {
			font-size: 2.4rem;
		}
		&__heading {

		}
		&__review {
			padding: 1rem;
		}

		&__quote {

		}

		&__quote--left {
			left: -1rem;
			top: -2rem;
		}

		&__quote--right {
			right: -1rem;
			bottom: -2rem;
		}

		&__text {
		}
	}
}

@media (max-width: 745px) {
	.reviews {
		padding: 4rem;
	}

	.review {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 2rem;


		&__left {
			background: $white;
			padding: 0;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			grid-column: 1/-1;
			border-top: 1px solid #eee;
			padding-top: 1rem;
		}

		&__left::before {
			display: none;
		}

		&__img-wrapper {
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			margin: 0;
			z-index: 2;

		}

		&__img {			
			width: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center center;
		}

		&__user-details {
			text-align: left;
			margin-left: 1.5rem;
		}

		&__name {
			font-size: 1.4rem;
			color: $grey2;
			text-transform: uppercase;
			margin-top: 0;
			letter-spacing: 1px;
		}

		&__job {
			font-size: 1.4rem;
			// font-weight: 600;
			color: $grey3;
		}

		&__content {
			grid-column: 1/-1;
			grid-row: 1/2;
		}

	}

	.review__left {
		// display: none;
	}
}


@media (max-width: 484px) { 
	.section-reviews {
		height: 100vh;
	}
	.reviews {
		padding: 2rem 1rem;
		width: 100%;
		border-radius: 0;
	}

	.review {
		&__star {
			font-size: 1.2rem;
			color: $primary-dark;
			margin-left: .2rem;	
		}

		&__rating {
			font-size: 2.4rem;
			font-weight: 500;
			color: $primary-dark;
		}

		&--sm &__rating {
			font-size: 2.6rem;
		}

		&__heading {
			font-size: 1.8rem;
		}
		&__content::before {
			width: 15rem;
		}

		&__review {
			padding: 1rem 0;
			position: relative;
		}
	}
}


