.myaccount {
	margin: 0 auto;
	margin-top: 6rem;
	max-width: 1200px;
	min-height: calc(100vh - 60px);
	display: flex;

	@media (max-width: 1200px) {
		& {
			padding: 0 2rem;
		}
	}

	@media (max-width: 768px) {
		& {
			padding: 0;
		}
	}

	&__left {
		background: #f1f1f1;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 2rem 0;
		width: 5rem;
		margin-right: 4rem;
	}

	@media (max-width: 1024px) {
		&__left {
			margin-right: 2rem;
		}
	}

	@media (max-width: 522px) {
		&__left {
			margin-right: 1rem;
		}
	}

	&__profile-image-wrapper {
		height: 12rem;
		width: 12rem;
		overflow: hidden;
		border-radius: 50%;
		height: 3.5rem;
		width: 3.5rem;
		margin-bottom: 2rem;
	}

	&__menu-icon {
		margin-bottom: 2rem;
		align-self: flex-start;
		margin-left: 1.8rem;
		font-size: 1.4rem;
	}

	&__profile-image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__name {
		font-size: 1.6rem;
		font-weight: 600;
		color: $dark;
		margin-top: 1.5rem;
		display: none;
	}

	&__job {
		font-weight: 400;
		color: $grey;
		font-size: 1.2rem;
		display: none;
	}

	&__links {
		flex: 1;
		align-self: stretch;
		text-align: left;
		margin-top: 1.5rem;
	}

	&__item {
		
	}


	&__link {
		font-size: 1.4rem;
		font-weight: 400;
		color: inherit;
		display: block;
		width: 100%;
		padding: .8rem;
		display: grid;
		grid-template-columns: 3rem 1fr;
		border-left: 3px solid transparent;
		padding-left: 1.5rem;
	}

	&__link-text {
		display: none;
	}

	&__link:hover {
		background: #eee;
		border-left: 3px solid $primary-dark;
		color: $dark;
		font-weight: 500;
	}

	&__link:hover .myaccount__link-icon {
		color: $primary-dark;
	}

	&__link--active {
		border-left: 3px solid $primary-dark;
		color: $dark;
		font-weight: 500;
	}

	&__link--active .myaccount__link-icon {
		color: $primary-dark;
	}

	&__left--active {
		width: 22rem;

		.myaccount {
			&__profile-image-wrapper {
				height: 12rem;
				width: 12rem;
				border-radius: .6rem;
				margin-bottom: 0;
			}

			&__name {
				display: block;
			}

			&__job {
				display: block;
			}

			&__link-text {
				display: block;
			}
		}
	}

	&__right {
		flex: 1;
	}

	@media (max-width: 768px) {
		&__right {
			padding-right: 2rem;
		}
	}

	@media (max-width: 320px) {
		&__right {
			padding-right: 1rem;
		}
	}
}

















