.guide {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 8rem;
	// line-height: 20px;
	font-size: 1.6rem;
	color: $grey3;
	display: grid;
	grid-template-columns: 1fr 25rem;
	grid-column-gap: 2rem;
	list-style: circle;

	// @media (max-width: 1054px) {
	// 	& {
	// 		padding: 0 2rem;
	// 	}
	// }

	@media (max-width: 768px) {
		& {
			grid-template-columns: 1fr 20rem;
			padding: 0;
			grid-column-gap: 1rem;
			padding: 0 2rem;
		}
	}

	@media (max-width: 659px) {
		& {
			grid-template-columns: 1fr;
		}
	}


	&__section {
		// padding: 1rem 0;
		margin-bottom: 2rem;
	}

	&__tutorial {
		padding: 2rem;
		border: 1px solid #f5f5f5;
		border-radius: 1rem;
	}

	@media (max-width: 1100px) {
		&__tutorial {
			border: none;
		}
	}

	&__tableofcontents {
		padding: 2rem;
		position: relative;
	}

	@media (max-width: 768px) {
		&__tutorial,
		&__tableofcontents {
			padding: 0;
		}
	}

	@media (max-width: 659px) {
		&__tableofcontents {
			display: none;
		}
	}

	&__table-wrapper {
		position: sticky;
		top: 10rem;
	}

	h1 {
		margin-bottom: 1.5rem;
		color: $dark;
	}

	h2 {
		margin-bottom: 1rem;
		font-size: 2rem;
		color: $dark;
	}

	h4 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
		color: $dark;
	}

	p {
		text-indent: 2rem;
		margin-bottom: 1rem;
		line-height: 2.6rem;
	}

	ul {
		padding-left: 6rem;
		list-style: circle;
	}

	@media (max-width: 425px) {
		ul {
			padding-left: 4rem;
		}
	}

	li {
		line-height: 2.6rem;
	}

	&__link {
		color: blue;
		display: inline-block;
		margin-left: .5rem;
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 1.8rem;
		}

		h4 {
			font-size: 1.8rem;
			margin-bottom: 1.5rem;
			color: $dark;
		}

		li {
			font-size: 1.5rem;
		}

		p {
			font-size: 1.5rem;
		}
	}

	@media (max-width: 320px) {
		h2 {
			font-size: 1.6rem;
		}

		h4 {
			font-size: 1.6rem;
			margin-bottom: 1.5rem;
			color: $dark;
		}

		li {
			font-size: 1.4rem;
			line-height: 2.2rem;
		}

		p {
			font-size: 1.4rem;
			line-height: 2.2rem;
		}
	}
}




.guide-table {
	list-style: none!important;
	padding: 0!important;

	&__wrapper {
		position: sticky;
	}

	&__item {
		margin-bottom: 1rem;
	}

	&__link {
		border-left: 4px solid transparent;
		padding-left: 2rem;
		color: $grey3;
		display: inline-block;
	}

	@media (max-width: 768px) {
		&__link {
			padding-left: 1rem;
		}
	}

	&__link--active {
		border-left: 4px solid $primary-dark;
	}

	&__link:hover {
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		&__link {
			font-size: 1.5rem;
		}

		&__link--active {
			border-left: 2px solid $primary-dark;
		}
	}
}








