.container {
	margin: 0 auto;
	max-width: 1200px;
}

.section {
	margin: 0 auto;
	text-align: center;
	padding: 4rem 0;
	
	&--popular {
		background: #f2f2f2;
	}


	&__heading {
		font-size: 2.6rem;
		font-weight: 500;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 4rem;
		display: inline-block;
		background: linear-gradient(to right, $grey, $black, $grey);
		-webkit-background-clip: text;
		color: transparent;
		text-transform: uppercase;
	}

}

@media (max-width: 1200px) { 
	.container {
		width: 100%;
		padding: 2rem;
	}
}








