.container {
	margin: 0 auto;
	max-width: 1200px;
}

.section {
	margin: 0 auto;
	text-align: center;
	padding: 4rem 0;
	
	&--popular {
		background: #f2f2f2;
	}


	&__heading {
		font-size: 2.6rem;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 4rem;
		display: inline-block;
		background: linear-gradient(to right, $grey, $black, $grey);
		-webkit-background-clip: text;
		color: transparent;
		text-transform: uppercase;
	}

}

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	justify-content: center;
	grid-gap: 1.5rem;
	grid-row-gap: 3rem;
	padding: 2rem 0;
}

@media (max-width: 1200px) { 
	.container {
		width: 100%;
		padding: 2rem;
	}

	.card-wrapper {
		padding: 0 2rem;
	}

}

@media (max-width: 950px) {
	// .card-wrapper {
	// 	grid-gap: 1rem;
	// }
}

@media (max-width: 850px) {
	// .card-wrapper {
	// 	grid-gap: 1rem;
	// 	grid-row-gap: 2rem;
	// }
}



@media (max-width: 720px) { 
	.card-wrapper {
		grid-template-columns: 45rem;
		padding-top: 0;
	}
}

@media (max-width: 450px) {
	.card-wrapper {
		padding: 1rem;
		margin: 0 auto;
		width: 100%;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}

@media (max-width: 400px) {
	.card-wrapper {
		padding: .5rem;
	}
}










