.btn {
	padding: 1.2rem 3rem;
	border: none;
	background: $white;
	font-size: 1.4rem;
	font-weight: 700;
	border-radius: .5rem;
	display: inline-block;
	transition: all .2s ease;

	&--small {
		font-size: 1.2rem;
		padding: 1.2rem 1.8rem;
	}

	&--primary {
		background: $primary-dark;
		color: $white;
	}

	&:hover {
		background: lighten($primary-dark, 5%);
		cursor: pointer;
	}

	&--direction {
		display: inline-block;
		border-bottom: 2px solid $primary-dark;
		padding: .7rem 1.2rem .5rem .5rem;
		text-align: left;
		font-weight: 600;
		color: $primary-dark;
		transition: all .3s ease;
		cursor: pointer;
	}

	&--direction__icon {
		margin-left: 1rem;
	}

	&--direction:hover .btn--direction__icon {
		animation: slidehorizontal .4s linear infinite alternate;
	}

	// &--direction:hover {
	// 	color: $white;
	// 	background: $primary-dark;
	// }

	&--back {
		// border: 1px solid $primary-dark;
		color: $grey;
		&:hover {
			background: none;
			color: $grey;
			border: none;
		}
	}
}