.card {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .1);
	background-color: $white;
	padding-bottom: .5rem;
	overflow: hidden;
	position: relative;

	&--noshadow {
		box-shadow: none;
	}

	&__favorite {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 2rem;
		z-index: 50;
		color: $primary-dark;
	}

	&__img-wrapper {
		height: 18rem;
		display: block;
		overflow: hidden;
		position: relative;
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		cursor: pointer;
		transform: scale(1.2);
		transition: transform .6s;

		&:hover {
			transform: scaleX(1);
		}
	}

	&__discount {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 50;
		background: red;
		// background: rgba($white, .4);
		// backdrop-filter: blur(10px);
	}

	&__amount {
		font-size: 1.8rem;
		// font-weight: 600;
		color: $dark;
	}

	&__type {
		font-size: 1rem;
		color: $grey;
	}

	&__discount-icon {
		height: 5rem;
		color: $primary-dark;
	}

	&__header {
		padding: .8rem 1.2rem;
		font-size: 1.3rem;
		color: $grey3;
		display: flex;
		justify-content: space-between;
	}

	&__price {
		font-weight: 400;
		text-decoration: none;
	}

	&__price--discounted {
		text-decoration: line-through;
		font-size: 1.4rem;
		color: $grey-light;
		margin-right: .5rem;
	}

	&__body {
		text-align: left;
		// padding: 0 1.2 1rem;
		padding: 1rem;	
		padding-top: 0;
		background: $white;
	}

	&__body-container {
		flex: 1;
	}

	&__name {
		font-size: 1.6rem;
		margin-bottom: .6rem;
		color: $dark;
		font-weight: 500;
	}

	&__location {
		font-size: 1.4rem;
		color: $grey3;
	}

	&__location-icon {
		color: $primary-dark;
		margin-right: .6rem;
	}

	&__book-now {
		padding: .8rem;
		text-align: center;
		font-size: 1.4rem;
		display: block;
		width: 100%;
		background: $primary-dark;
		border: none;
		color: $white;
		margin-top: 1.5rem;
		font-family: inherit;
	}
}
/*
@media (max-width: 980px) {
	.card {
		// display: flex;
		// flex-direction: column;
	}

	.card__img-wrapper {
		height: 22rem;
	}

	.card__header {
		margin-bottom: 0;
	}
	.card__body {
		flex: 1;
		// flex-direction: column;
		// justify-content: space-between;
		// padding: 2rem;
		// grid-row-gap: 1rem;
		// padding-top: 0;
	}

	.card__body-container {
		flex: 1;
	}


	.card__book-now {
		width: auto;
		display: inline-block;
		text-align: center;
	}
}

@media (max-width: 840px) {
	.card__header {
		// flex-direction: column;
		align-items: flex-start;
		padding: 1rem;
	}

	.card__body {
		padding: 1rem;
		padding-top: 0;
	}
}

@media (max-width: 808px) {
	.card__img-wrapper {
		height: 21rem;
	}
	.card__header {
		flex-direction: row;
	}
	.card__body {
		flex-direction: row;
	}
	.card__book-now {
		width: auto;
		display: inline-block;
	}
}

@media (max-width: 650px) {
	.card__img-wrapper {
		height: 22rem;
	}

	.card__body {
		flex-direction: row;
	}

	.card__book-now {
		width: auto;
		display: inline-block;
		text-align: center;
	}
}*/
