.card {
	box-shadow: 0px .4rem 2rem rgba(0, 0, 0, .2);

	&--noshadow {
		box-shadow: none;
	}

	&__img-wrapper {
		height: 22rem;
		display: block;
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		cursor: pointer;
		transition: transform .2s ease;

		&:hover {
			transform: scaleX(1.05);
		}
	}

	&__header {
		padding: 1rem 2rem;
		font-size: 1.4rem;
		font-weight: 600;
		color: $primary;
		display: flex;
		justify-content: space-between;
		background: #fff1f1;
		margin-bottom: 1rem;
	}

	&__body {
		text-align: left;
		padding: 0 2rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__body-container {
		flex: 1;
	}

	&__name {
		font-size: 1.6rem;
		margin-bottom: 1rem;
		font-weight: 600;
	}

	&__location {
		font-size: 1.4rem;
	}

	&__location-icon {
		margin-right: .6rem;
	}
}

