.card {
	box-shadow: 0px 3px 8px rgba(#eee, .8);
	padding: .5rem;
	overflow: hidden;
	position: relative;
	border-radius: 1rem;
	border: 2px solid #fff;
	background: #fff;

	// &:nth-child(odd) {
	// 	background: linear-gradient(to top right, #fff, #f5f5f5);
	// }
	// &:nth-child(even) {
	// 	background: linear-gradient(to top left, #fff, #f5f5f5);
	// }

	&--noshadow {
		box-shadow: none;
	}

	&__favorite {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		font-size: 2rem;
		z-index: 50;
		color: $primary-dark;
		cursor: pointer;
	}

	&__img-wrapper {
		height: 22rem;
		display: block;
		overflow: hidden;
		position: relative;
		border-radius: .7rem;
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		cursor: pointer;
		transform: scale(1.2);
		transition: transform .6s;

		&:hover {
			transform: scaleX(1);
		}
	}

	&__header {
		padding: .8rem .5rem;
		font-size: 1.3rem;
		color: $grey3;
		display: flex;
		justify-content: space-between;
	}

	&__price {
		font-weight: 500;
		font-size: 1.4rem;
		color: $grey2;
		text-decoration: none;
		font-family: inherit;
	}

	&__price--discounted {
		text-decoration: line-through;
		font-size: 1.4rem;
		color: $grey-light;
		margin-right: .5rem;
	}

	&__body {
		text-align: left;
		// padding: 0 1.2 1rem;
		padding: 1rem .5rem;	
		padding-top: 0;
	}

	&__body-container {
		flex: 1;
	}

	&__name {
		font-size: 1.6rem;
		margin-bottom: .8rem;
		color: $dark;
		font-weight: 600;
		display: inline-block;
		font-family: inherit;
	}

	&__name:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	&__location {
		font-size: 1.4rem;
		color: $grey3;
	}

	&__location-icon {
		color: $primary-dark;
		margin-right: .6rem;
	}

	&__book-now {
		padding: .8rem;
		text-align: center;
		font-size: 1.4rem;
		display: block;
		width: 100%;
		background: #ffd4e0;
		border: none;
		color: $white;
		margin-top: 1.5rem;
		font-family: inherit;
	}
}
/*
@media (max-width: 980px) {
	.card {
		// display: flex;
		// flex-direction: column;
	}

	.card__img-wrapper {
		height: 22rem;
	}

	.card__header {
		margin-bottom: 0;
	}
	.card__body {
		flex: 1;
		// flex-direction: column;
		// justify-content: space-between;
		// padding: 2rem;
		// grid-row-gap: 1rem;
		// padding-top: 0;
	}

	.card__body-container {
		flex: 1;
	}


	.card__book-now {
		width: auto;
		display: inline-block;
		text-align: center;
	}
}

@media (max-width: 840px) {
	.card__header {
		// flex-direction: column;
		align-items: flex-start;
		padding: 1rem;
	}

	.card__body {
		padding: 1rem;
		padding-top: 0;
	}
}

@media (max-width: 808px) {
	.card__img-wrapper {
		height: 21rem;
	}
	.card__header {
		flex-direction: row;
	}
	.card__body {
		flex-direction: row;
	}
	.card__book-now {
		width: auto;
		display: inline-block;
	}
}

@media (max-width: 650px) {
	.card__img-wrapper {
		height: 22rem;
	}

	.card__body {
		flex-direction: row;
	}

	.card__book-now {
		width: auto;
		display: inline-block;
		text-align: center;
	}
}*/
