


.fh-banner {
	height: 100vh;
	background: $darkblue;
	margin: 0 auto;
	z-index: -1;
	overflow: hidden;
	// font-family: 'Qucik', serif;
	
	&__content {
		position: relative;
		height: 100vh;
	}

	&__text {
		position: absolute;
		top: 54%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 55;
		text-align: center;
		width: 70rem;
		height: 30rem;
		padding-top: 1rem;
		background: rgba($dark-1, .05);
		// clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
	}

	&__heading {
		font-size: 4.6rem;
		text-transform: capitalize;
		font-weight: 600;
		color: $white;
		// color: #f2e6eb;
		margin-bottom: 1rem;
	}

	&__subheading {
		font-size: 1.6rem;
		font-weight: 400;
		color: #d4c5cb;
	}

	&__cta {
		display: inline-block;
		margin-top: 5rem;
		padding: 1.4rem 4rem;
		border: none;
		border-radius: 5rem;
		background: $primary;
		background: linear-gradient(to right, darken($primary-dark, 15%), darken($primary-dark, 10%));
		// background: #fc7e3f;
		font-size: 1.6rem;
		// text-transform: uppercase;
		font-weight: 500;
		color: $white;
		font-family: inherit;
	}

	&__line-break {
		text-align: center;
		margin: 2rem auto;
	}

	&__or {
		position: relative;
	}

	&__or::before,
	&__or::after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 4px;
		width: 20rem;
		background: rgba($darkgreen, .3);
		border-radius: 1rem;
	}

	&__or::before {
		right: 3rem;
	}
	&__or::after {
		left: 3rem;
	}

	.stagger {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		opacity: 0;
	}

	&__image {
		z-index: 50;
		position: absolute;
		height: 100%;
		width: 50%;
	}

	&__image--mountain {
		right: 0;
		bottom: 0;
		top: 0;
		transform: translateY(-100%);
		opacity: 0;
	}

	&__image--swimming {
		left: 0;
		left: 0;
		top: 0;
		transform: translateY(100%);
		opacity: 0;
	}

	&__image::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background: radial-gradient(rgba($darkblue, .6), rgba($darkblue, .95));
		z-index: 50;
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		// object-position: right;
	}

	&__logo {
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		opacity: .01;
		height: 70%;
	}

	&__footer {
		z-index: 50;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		padding: 1rem;
	}

	&__social {
		margin-left: 1rem;
	}

	&__search {
		width: 40rem;
		margin: 0 auto;
		display: flex;
		position: relative;
	}

	&__input {
		flex: 1;
		border: none;
		height: 4.5rem;
		border-radius: 5rem;
		background: rgba($white, .1);
		padding: 0 4rem 0 2rem;
		color: $white;
		font-weight: 600;
		font-family: inherit;
		font-size: 1.4rem;
		border-bottom: 2px solid transparent;
	}


	&__input::placeholder {
		color: #d4c5cb;
		text-align: center;
	}

	&__input:focus {
		outline: none;
		border: 2px solid $primary-dark;
	}

	&__input:focus ~ .fh-banner__submit-btn {
		color: $primary;
	}

	&__submit-btn {
		position: absolute;
		font-size: 1.4rem;
		height: 4.5rem;
		width: 4.5rem;
		border: none;
		right: 0;
		border: none;
		border-radius: 50%;
		color: #d4c5cb;
		background: transparent;
		// background: darken($primary-dark, 25%);
	}
}

@media (max-width: 1075px) {
	.fh-banner {

		&__heading {
			font-size: 4rem;
		}
	}
}


@media (max-width: 900px) {
	.fh-banner {

		&__heading {
			font-size: 3.4rem;
		}

		&__subheading {
			font-size: 1.5rem;
		}

		&__cta {
			font-size: 1.5rem;
		}
	}
}









