.hero {
	height: 100vh;
	width: 100%;
	position: relative;
	background: #1c1c1c;

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2000;
		background: #1c1c1c;
		transform-origin: center;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%);
			height: 5rem;
		}
	}

	&__container {
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__image {
		position: relative;
		overflow: hidden;
		transform: translateY(10%);
		opacity: 0;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center center;
			z-index: -1;
		}
	}

	&__image::after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		height: 100%;
		width: 100%;
		background: radial-gradient(circle farthest-corner, transparent 50%, #1c1c1c);
		background-position: top;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		padding-left: 4rem;
		overflow: hidden;
	}

	&__heading-1 {
		font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
		font-size: 1.6rem;
		font-style: normal;
		letter-spacing: normal;
		line-height: 4rem;
		text-transform: none;
		color: #c7c7c7;
		letter-spacing: .8px;
		margin-bottom: .5rem;
	}
	&__heading-2 {
		font-family: montserrat, lato, "helvetica neue", Helvetica, Arial, sans-serif;
		font-size: 4rem;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 1px;	
		line-height: 4.6rem;
		color: $white;
		margin-bottom: 3rem;
	}

	&__bar {
		display: block;
		height: 4px;
		background: $primary-dark;
		width: 6rem;
		border-radius: 1rem;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
	}

	&__sub {
		font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: normal;
		line-height: 2.6rem;
		text-transform: none;
		color: #c7c7c7;
	}

	&__cta {
		border: none;
		color: $white;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		background: none;
		margin-top: 3rem;
		letter-spacing: .8px;
		width: auto;
		display: flex;
		align-items: center;
		padding: 1.2rem 1.8rem;
		// background: linear-gradient(to right, darken($primary-dark, 5%), $primary-dark);
		text-transform: uppercase;
		border: 2px solid $primary-dark;
		transition: all .5s;
	}

	.fa-play {
		color: $primary-dark;
		margin-right: 1rem;
	}

	&__cta:hover {
		color: $dark;
		background: linear-gradient(to right, rgba($primary-dark, 5%), $primary-dark);
	}

	&__cta:hover .fa-play {
		color: $dark;
	}
}

.stagger {
     		transform: translateX(-10rem);
    		opacity: 0;
   }

  
@media (max-width: 1225px) {

	.hero {
		&__content {
			margin-left: 12rem;
			// transform: translateY(-12%);
		}

	}
	.float {
		right: 2rem;
		bottom: 2rem
	}
}

@media (max-width: 970px) {
	.hero {
		&__content {
			margin-left: 10rem;
			// transform: translateY(-12%);
		}

	}
}

@media (max-width: 874px) {
	// .float {display: none;}
	.hero {

		&__search {
			display: none;
		}

		&__container {
			// justify-content: center;
		}

		&__content {
			margin: 0;
			width: 100%;
			padding-left: 6rem;
		}

		&__heading-2 {
			font-size: 3.8rem;
		}

		br {
			// display: none;
		}
	}
}

@media (max-width: 814px) {
	.float {display: none;}
}

@media (max-width: 740px) {

	.hero {
		&__container {
			width: 100%;
		}
		&__content {
			margin: 0;
			width: 100%;
			padding: 6rem;
		}
	}
}

@media (max-width: 618px) {

	.hero {
		&__content {
			padding: 4rem;
		}
	}
}

@media (max-width: 542px) {

	.hero {
		hr {
			display: none;
		}

		&__content {
			padding: 2rem;
		}

		&__heading-1 {
			font-size: 1.4rem;
		}

		&__heading-2 {
			font-size: 3.4rem;
			line-height: 3.4rem;
		}

		&__bar {
			width: 4rem;
			margin-top: 3rem;
			margin-bottom: 3rem;
		}

		&__sub {
			line-height: 2.4rem;
		}
	}
}


@media (max-width: 468px) {

	.hero {
		&__heading-2 {
			font-size: 3.2rem;
			line-height: 3.4rem;
		}

		&__bar {
			width: 4rem;
			margin-top: 3rem;
			margin-bottom: 3rem;
		}

		&__sub {
			line-height: 2.4rem;
			font-weight: 400;
			font-size: 1.4rem;
		}

		&__cta {
			padding: 1.2rem 2rem;
		}
	}
}

@media (max-width: 436px) {

	.hero {
		&__heading-2 {
			font-size: 3rem;
			line-height: 3.4rem;
		}

		&__bar {
			margin-top: 2.2rem;
			margin-bottom: 2.2rem;
		}

		&__sub {
			line-height: 2.2rem;
		}

		&__cta {
			padding: 1.2rem 2rem;
		}
	}
}

.loading {
    margin-inline: auto;
}

.loading {
    --height: 30px;
    --loader-color: black;
    --animation-duration: 0.5s;
    display: flex;
    align-items: flex-end;
    gap: calc(var(--height) / 4);
    height: calc(var(--height) * 1.75);
    width: max-content;
}
.loading:before,
.loading:after {
    content: "";
}
.loading > div,
.loading:before,
.loading:after {
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
    animation: bounce var(--animation-duration) ease-in-out infinite alternate;
}
.loading:after {
    animation-delay: calc(var(--animation-duration) / 2);
}
.loading > div {
    animation-delay: calc(var(--animation-duration) / 4);
}
@keyframes bounce {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-75%);
    }
}