.hero {
	height: 100vh;
	width: 100%;
	position: relative;
	background: #1c1c1c;

	&__container {
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 979px) {
		&__container {
			grid-template-columns: 2fr 3fr;
		}
	}

	@media (max-width: 600px) {
		&__container {
			grid-template-columns: 1fr;
			background: radial-gradient(circle at top right, rgba($dark, .8), rgba($dark, 1)),url(../../images/girlwithbackpack.jpg);
			background-size: cover;
			background-position: center left;
		}
	}


	@media (max-width: 398px) {
		&__container {
			background-position: center center;
		}
	}

	&__image {
		position: relative;
		overflow: hidden;
		transform: translateY(6rem);
		opacity: 0;
		clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center center;
			z-index: -1;
		}

		@media (max-width: 979px) {
			img {
				object-position: center right;
			}
		}
	}

	@media (max-width: 600px) {
			&__image {
				display: none;
			}
		}

	&__image::after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		height: 100%;
		width: 100%;
		background: radial-gradient(
			circle farthest-corner,
			transparent 50%,
			#1c1c1c
		);
		background-position: top;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		padding-left: 6rem;
		padding-right: 4rem;
		overflow: hidden;
	}

	@media (max-width: 979px) {
		&__content {
			padding-left: 4rem;
			padding-right: 2rem;
		}
	}

	@media (max-width: 725px) {
		&__content {
			padding-left: 2rem;
		}
	}

	@media (max-width: 600px) {
		&__content {
			padding-left: 4rem;
		}

		br {display: none;}
	}

	@media (max-width: 530px) {
		&__content {
			padding: 2rem;
		}

		br {display: none;}
	}

	@media (max-width: 398px) {
		&__content {
			padding: 2rem;
			padding-right: 3rem;
		}
	}

	@media (max-width: 320px) {
		&__content {
			padding: 1rem;
		}
	}

	&__heading-1 {
		font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
		font-size: 1.4rem;
		font-style: normal;
		letter-spacing: normal;
		line-height: 4rem;
		text-transform: none;
		color: #c7c7c7;
		letter-spacing: 0.8px;
		margin-bottom: 0.5rem;
	}
	&__heading-2 {
		font-family: montserrat, lato, "helvetica neue", Helvetica, Arial,
			sans-serif;
		font-size: 4rem;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 4.6rem;
		color: $white;

	}

	@media (max-width: 752px) {
		&__heading-2 {
			font-size: 3.6rem;
		}
	}

	@media (max-width: 622px) {
		&__heading-2 {
			font-size: 3.4rem;
		}
	}

	@media (max-width: 600px) {
		&__heading-1 {
			line-height: 2.6rem;
		}

		&__heading-2 {
			font-size: 3.4rem;
			line-height: 1.1;
		}
	}

	@media (max-width: 425px) {
		&__heading-1 {
			line-height: 1.5;
			font-size: 1.2rem;
		}

		&__heading-2 {
			font-size: 3.2rem;
			font-weight: 500;
			letter-spacing: normal;
			line-height: 1.1;
		}
	}

	@media (max-width: 375px) {
		&__heading-1 {
			line-height: 1.5;
			font-size: 1.2rem;
		}

		&__heading-2 {
			font-size: 3.2rem;
			font-weight: 500;
			letter-spacing: normal;
			line-height: 1.1;
		}
	}

	@media (max-width: 320px) {
		&__heading-1 {
			font-size: 1rem;
		}

		&__heading-2 {
			font-size: 2.8rem;
			line-height: 1.1;
		}
	}

	&__bar {
		display: block;
		height: 4px;
		background: $primary-dark;
		width: 6rem;
		border-radius: 1rem;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
	}

	@media (max-width: 600px) {
		&__bar {
			margin: 3rem 0;
		}
	}

	&__sub {
		font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: normal;
		line-height: 2.6rem;
		text-transform: none;
		color: #c7c7c7;
	}

	@media (max-width: 600px) {
		&__sub {
			line-height: 2.4rem;
		}
	}

	@media (max-width: 425px) {
		&__sub {
			line-height: 1.5;
			font-size: 1.2rem;
		}
	}

	@media (max-width: 375px) {
		&__sub {
			line-height: 1.5;
			font-size: 1.2rem;
		}
	}

	&__cta {
		border: none;
		color: $white;
		font-family: "Montserrat", sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		background: none;
		margin-top: 3rem;
		letter-spacing: 0.8px;
		width: auto;
		display: flex;
		align-items: center;
		padding: 1.2rem 1.8rem;
		// background: linear-gradient(to right, darken($primary-dark, 5%), $primary-dark);
		text-transform: uppercase;
		border: 2px solid $primary-dark;
		transition: all 0.5s;
	}

	.fa-play {
		color: $primary-dark;
		margin-right: 1rem;
	}

	&__cta:hover {
		color: $dark;
		background: linear-gradient(
			to right,
			rgba($primary-dark, 5%),
			$primary-dark
		);
	}

	&__cta:hover .fa-play {
		color: $dark;
	}

	@media (max-width: 600px) {
		&__cta {
			font-size: 1.2rem;
			font-weight: 400;
			margin-top: 2.5rem;
			padding: 1rem 1.4rem;
			border: none;
			background: $primary-dark;
			color: $white;
			letter-spacing: normal;
			border: 1px solid $primary-dark;
		}

		.fa-play {
			color: $white;
			font-size: 1.6rem;
		}

		&__cta:hover {
			color: $dark;
			background: linear-gradient(
				to right,
				rgba($primary-dark, 5%),
				$primary-dark
			);
		}

		&__cta:hover .fa-play {
			color: $dark;
		}
	}

	@media (max-width: 425px) {
		&__cta {
			margin-top: 2.5rem;
			padding: .8rem 1.2rem;
			border-radius: .2rem;
		}

		.fa-play {
			color: $white;
			font-size: 1.4rem;
		}
	}

	@media (max-width: 320px) {
		&__cta {
			margin-top: 2.5rem;
			padding: .8rem 1rem;
			border-radius: .2rem;
		}

		.fa-play {
			color: $white;
			font-size: 1.2rem;
		}
	}
}

.stagger {
	transform: translateY(3rem);
	opacity: 0;
	clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
