.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 100vh;
	width: 100vw;
	background: rgba($white, 1);
	backdrop-filter: blur(10px);
	z-index: -1;
	opacity: 0;	
	transition: opacity .6s ease;

	&--show {
		z-index: 1000;
		opacity: 1;
	}

	&__content {
		max-width: 1000px;
		height: 100%;
		background: $white;
		margin: 0 auto;
		padding: 2rem;
		box-shadow: 0px 0px 2rem rgba(0, 0, 0, .1);
		position: relative;
	}

	&__close {
		display: inline-block;
		height: 3.5rem;
		width: 3.5rem;
		background: $white;
		border-radius: 50%;
		border: none;
		color: $grey;
		box-shadow: 0px 0px 1rem rgba(0, 0, 0, .1);
		transition: color .2s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 1rem;
		right: 2rem;

		&:active,
		&:focus {
			outline: none;
		}

		&:hover {
			color: $primary-dark;
			cursor: pointer;
		}
	}

	&__body {

	}

	&__footer {

	}
}

.booking-steps {
	display: flex;
	justify-content: space-between;
	width: 50rem;
	margin: 0 auto;
	margin-bottom: 4rem;
	position: relative;
	z-index: 10;
	overflow: hidden;

	&__step {
		height: 2.6rem;
		width: 2.6rem;
		border-radius: .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		font-weight: 700;
		color: $primary-dark;
		border: 2px solid $primary-dark;
		background: $white;
		// z-index: 1;
	}

	&__step--complete {
		animation: toRed .3s ease forwards;
		animation-delay: 1s;
	}

	@keyframes toRed {
		from {
			background: $white;
			color: $primary-dark;
		}
		to {
			background: linear-gradient(to right, $primary-dark, darken($primary-dark, 5%));
			color: $white;
		}
	}

	&__step--2, 
	&__step--3 {
		position: relative;
	}

	&__bar {
		content: "";
		position: absolute;
		height: 4px;
		width: 22rem;
		background: $primary-light;
		z-index: -1;
	}

	&__bar-2 {
		left: -22rem;
	}

	&__bar-3 {
		left: -22rem;
	}

	&__step--complete .booking-steps__bar::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		background: linear-gradient(to right, $primary-dark, darken($primary-dark, 5%), $primary-dark);
		box-shadow: 0px 0px 2rem rgba($primary-dark, .2);
		transform: translateX(-100%);
		z-index: 1rem;
		animation: loading 1s linear forwards;
	}
}

@keyframes loading {
	to {
		transform: translateX(0);
	}
}










