.section-header {
	// padding: 1rem;
	// padding-bottom: 2rem;
	// margin-top: 8rem;
	box-shadow: 0px 1rem 1.5rem -1rem rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 6rem;
	left: 0;
	right: 0;
	background: $white;
	z-index: 500;

	&__container {
		padding: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
	}

	@media (max-width: 1200px) {
		&__container {
			padding: 1rem 2rem;
		}
	}

	@media (max-width: 1024px) {
		&__container {
			display: grid!important;
			grid-template-columns: 16rem 1fr;
		}
	}
}

@media (max-width: 874px) {
	.section-header {
		top: 5.5rem;
	}
}

.active-category {
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	color: $dark;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem;
	position: relative;
	margin-right: 1rem;
	flex-shrink: 0;
}

@media (max-width: 768px) {
	.active-category {display: none;}
}

.active-category::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	right: 0;
	background: $primary-dark;
}

.item-categories__wrapper {
	border-left: 2px solid #eee;
	flex: 1;
	flex-shrink: 1;
	position: relative;
	overflow: hidden;

}

@media (max-width: 768px) {
	.item-categories__wrapper {grid-column: 1/-1; border-left: none;}

}

.item-categories {
	overflow: hidden;
	display: flex;
	list-style: none;

	&--mobile {
		display: none;
		overflow-x: auto;
		-ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}

	&--mobile::-webkit-scrollbar {
	  display: none;
	}

	@media (max-width: 768px) {
		&--mobile {
			display: flex;
		}

		&--web {
			display: none;
		}
	}

	&__previous,
	&__next {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 3rem;
		height: 100%;
		display: none;
		align-items: center;
		cursor: pointer;
		z-index: 1;
	}

	&__previous.show,
	&__next.show {
		display: flex;
	}

	&__previous {
		left: 0;
		background: linear-gradient(to left, transparent, white 50%);
		justify-content: flex-start;
		padding-left: .5rem;
	}

	&__next {
		right: 0;
		background: linear-gradient(to right, transparent, white 20%);
		justify-content: flex-end;
		padding-right: .5rem;
	}

	&__nav-icons {
		font-size: 1.6rem;
	}

	&__item {
		// margin-right: 1rem;
		margin-right: 0.5rem;
	}

	&__link {
		text-transform: capitalize;
		text-decoration: none;
		display: inline-block;
		color: $grey3;
		font-size: 1.5rem;
		font-weight: 500;
		padding: 1rem;
		position: relative;
	}

	@media (max-width: 425px) {
		&__link {
			font-size: 1.4rem;
		}
	};

	&__link--more {
		text-transform: lowercase;
	}

	&__link::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		left: 0;
		right: 0;
		background: $primary-dark;
		transform: scaleX(0);
		transition: transform 0.2s ease-in;
		z-index: 50;
	}

	&__link--active::before {
		transform: scaleX(1);
	}

	&__link:hover {
		color: $primary-dark;
	}

	&__link:hover {
		color: $dark;
	}

	&__link:hover.item-categories__link::before {
		transform: scalex(1);
		transform-origin: center;
	}

	&__link--more:hover.item-categories__link::before {
		transform: scalex(0);
	}
}


.filters {
	display: flex;
	align-items: center;
	margin-left: 4rem;
	flex-shrink: 0;

	&--mobile {display: none;}

	@media (max-width: 768px) {
		& {
			margin-left: 0;
		}
	}

	@media (max-width: 375px) {
		&--web {display: none;}
		&--mobile {display: flex;}
	}

	&__toggler {
		border: none;
		align-self: center;
		font-size: 1.4rem;
		padding: .8rem 1.2rem;
		color: $grey3;
		background: $white;
		font-weight: 500;
		border-radius: 3rem;
		border: 1px solid $grey3;
	}

	&__select {
		height: 4rem;
		width: 12rem;
		z-index: 50;
	}

	&--mobile .filters__select:first-of-type {
		z-index: 100;
		margin-top: 1rem;
	}

	&__button {
		border: 1px solid $grey3;
		font-size: 1.5rem;
		padding: .8rem 1.2rem;
		font-family: inherit;
		color: $grey3;
		margin-left: 1rem;
		background: $white;
		border-radius: 3rem;
	}

	&__button-icon {
		font-size: 1.2rem;
		margin-right: .5rem;
	}

	@media (max-width: 1024px) {
		& {
			margin-top: .5rem;
			grid-column: 1/-1;
			justify-content: flex-end;
		}
	}

	@media (max-width: 425px) {
		& {
			margin-left: 0;
		}
		&__select {
			height: 3.5rem;
		}

		&__button {
			font-size: 1.4rem;
			padding: .8rem 1.2rem;
		}
	}

	@media (max-width: 385px) {
		& {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		&__select {
			width: 20rem;
		}

		&__select,
		&__button {
			margin-left: 0;
			margin-bottom: 1rem;
		}
	}
}