.submenu {
	position: absolute;
	top: 6.6rem;
	left: 50%;
	transform: translateX(-50%) scale(.95);
	min-width: 20rem;
	min-height: 10rem;
	background: $white;
	opacity: 0;
	pointer-events: none;
	transform-origin: top;
	transition: all .3s cubic-bezier(.21,.93,.34,.94);
	border-radius: .5rem;
	// box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, .2);
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	display: grid;
	grid-gap: 1.8rem;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		height: 10px;
		width: 10px;
		background: $white;
		transform: rotate(45deg) translateY(-50%);
	}

	&--account {
		grid-template-columns: repeat(2, 20rem);
		padding: 4rem;
	}

	&--places {
		grid-template-columns: repeat(4, 20rem);
		padding: 4rem 4rem;
	}

	&--host {
		grid-template-columns: repeat(4, 20rem);
		padding: 4rem 3rem;
	}

	&__group-header {
		grid-column: 1/-1;
	}

	&__group--categories {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	&__group--filters {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	&__group--topplaces {
		grid-column: 1/-1;
	}

	&__group--grid {
		display: grid;
		grid-template-columns: repeat(3, 20rem);
	}

	&__heading {
		font-size: 1.8rem;
		// font-weight: 600;
		color: $grey;
		margin-bottom: 1rem;
	}

	&__description {
		font-size: 1.6rem;
		color: $grey3;
		// font-weight: 500;
	}

	&__heading--categories {
		grid-column: 1/-1;
	}

	&__row {
		list-style: none;
		display: grid;
		grid-template-columns: 2.5rem 1fr;
		grid-column-gap: .5rem;
		font-size: 1.4rem;
		color: $grey2;
		padding: .4rem 0;
		width: 100%;
		
	}

	&__icon {
		font-family: inherit;
		background: $primary-bright;
		-webkit-background-clip: text;
		color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
		color: $grey2;
		font-size: 1.6rem;
	}

	&__text:hover {
		text-decoration: underline;
	}
}

.top-place {
	margin-top: 1.5rem;

	&__places {
		list-style: none;
		margin-top: 1rem;
	}

	&__place {
		text-align: left;
		padding: .6rem 1.5rem;
		margin-bottom: .7rem;
		border-radius: 3px;
		cursor: pointer;
	}

	&__place:hover {
		background: #eee;
	}

	&__name {
		font-size: 1.6rem;
		// font-weight: 600;
		color: $grey2;
		line-height: 2.6rem;
	}

	&__count {
		font-size: 1.4rem;
		color: $grey3;
		font-weight: 500;
	}
}


.hosting {
	grid-column: 1/-1;
	padding: 1rem 2rem 0 2rem;
	display: grid;
	grid-template-columns: 1fr 30rem;
	grid-column-gap: 2rem;
	justify-items: center;
	align-items: center;

	&__details {

	}

	&__heading {
		font-size: 1.8rem;
		color: $grey;
		margin-bottom: 1.5rem	
	}

	&__paragraph {
		font-size: 1.6rem;
		text-indent: 2rem;
		line-height: 2.6rem;
		margin-bottom: 2rem;
		color: $grey3;
	}

	&__image-wrapper {
		height: 40rem;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__links {
		margin-top: 4rem;
		list-style: none;
	}

	&__item {
		margin-bottom: .5rem;
		list-style: none;
	}

	&__link {
		font-size: 1.6rem;
		color: $grey3;
	}

	&__link:hover {
		text-decoration: underline;
	}
}

.account {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 20rem 1fr;
	width: 100%;
	text-align: center;

	&__links {
		text-align: left;
		// background: #f1f1f1;
		// padding-top: 1rem;
	}

	&__me{
		height: 30rem;
		position: relative;
	}

	&__picture-wrapper{
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 550;
	}

	&__picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__info {
		position: absolute;
		bottom: 3rem;
		left: 0;
		right: 0;
		// width: 100%;
		text-align: center;
		background: rgba($lightblue, .4);
	}

	&__name{
		font-size: 2rem;
		font-weight: 700;
		color: $white;
		margin: 0;
		padding: 0;
	}

	&__job {
		font-size: 1.4rem;
		font-weight: 600;
		color: $white;
	}

	&__active-heading {
		margin-top: 2rem;
		text-align: left;
		font-size: 1.6rem;
		font-weight: 600;
	}

	&__active-booked{
		margin-top: 1rem;
		display: flex;
		text-align: left;
	}

	&__place {
		width: 6rem;
		height: 4rem;
		margin-right: .6rem;
		border-radius: .2rem;
		overflow: hidden;
	}
	&__placename{
		font-size: 1.4rem;
		font-weight: 600;
		color: $grey;
	}
	&__date{
		font-size: 1.2rem;
		font-weight: 400;
	}
	&__remaining{
		font-size: 1.2rem;
		margin-left: .5rem;
	}

}

















